
html,
body {
	height: 100%;
	font: 400 12px/18px "PT Mono", monospace;
	text-transform: uppercase;
    letter-spacing: 3px;
    overflow-x: hidden;
}

img {
	width: 100%;
}

#container  {
	margin-top: 20px;
}

#nav {
	width: 200px;
	float: left;
}

#nav-header {
	padding: 20px 0px 0px 20px;
	margin-bottom: 20px;
}

#nav-title {
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;
	margin-right: -2000px;
}

#nav-section {
	padding-left: 20px;
}

.nav-item {
	min-height: 20px;
	padding-left: 10px;
	padding-bottom: 3px;
}

.nav-item-header {
	font-size: 14px;
}

.nav-item-img {
	overflow: hidden;
}

.nav-item-content-el {
	padding-top: 2px;
	padding-left: 10px;
	min-height: 20px;
	font-size: 11px;
}

.nav-item-header:hover {
	color: grey;
}
.nav-item-content-el:hover {
	color: grey;
	border-left: 1px solid black;
}

#canvas{
	padding-top: 22px;
	padding-bottom: 20px; 
	margin-left: 220px;
	max-width: 1000px;
}

#canvas-header-img {
	width: 99%;
	height: 200px;
	overflow: hidden;

}

#canvas-featured {
	padding-bottom: 10px;
	overflow: hidden;
	//clear: both;
}

.canvas-featured-el {
	padding-right: 5px;
	margin-right: -10px;
}

.canvas-featured-el:hover {
	color: grey;
}

.canvas-featured-col {
	width: 30%;
	margin-right: 3%;
	float: left;
}

.featured-img {
	height: 60px;
	overflow: hidden;
}

.featured-title {
	padding: 0 10px 0 10px;
	text-align: right;
}

#canvas-footer {
	margin-top: 20px;
	margin-right: -20px;
	height: 30px;
}

#canvas-footer-item {
	width: 20%;
	height: 50%;
	margin-left: 10px;
	padding-left: 10px;
	float: left;
}


.outlined-top {
	border-top: 1px dotted black;
}

.outlined-right {
	border-right: 1px dotted black;
}

.outlined-left {
	border-left: 1px dotted black;
}

.outlined-bottom {
	border-bottom: 1px dotted black;
}

.hidden {
	display: none;
}

.collapsed {
    height: 0;