
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  background-color: black;
}

.mapboxgl-control-container {
  visibility: none;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#interface {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#left {
  width: 20%;
  height: 70%;
  min-width: 10%;
  min-height: 10%;
  max-width: 90%;
  max-height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: both;
  pointer-events: all;
  cursor: default;
}

#bottom {
  width: 100%;
  height: 30%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
}

.box {
  width: 100%;
  height: 100%;
  //position: absolute;
}

.box-label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.box-item {
  height: 200px;
  width: 100%;
  position: relative;
}

.document {
  color: white;
}

.document-label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.document-label:hover {
  background-color: rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}

.document-content {
  font-size: 10px;
  padding-left: 20px;
}

.document-item {
  padding: 5px;
  padding-top: 5px;
  display: flex;
}

.document-item-label {
  width: 500px;
  overflow: hidden;
  color: grey;
}

.document-item-label.selected {
  color: white;
}

/* slider */

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

.ui-widget-header {
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid white !important;
  border-radius: 0;
}

.ui-slider .ui-slider-handle {
  width: 3em;
  left: -.6em;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  background: #ededed;
}

.ui-slider-horizontal {
  background-color: transparent !important;
  width: 100%;
  border-bottom: 1px solid white;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 85%;
}

/* parcoords */

.box canvas, .box svg {
  pointer-events: none;
  position: absolute;
}

.dimension text {
  fill : white;
  font: 10px Arial;
  pointer-events: all;;
}

.dimension text.label {
  fill : grey;
}

.dimension rect {
  fill : rgba(0,0,0,0);
  //stroke : white;
}

.dimension rect.extent {
  fill : rgba(255,255,255, 0.5);
  stroke : white;
}

.dimension path {
  stroke : white;
  fill: transparent;
}

.foreground {
  opacity : 0.2;
}

.label.selected {
  font-weight: bolder;
  fill: white !important;
}

.label:hover {
  font-weight: bold;
  cursor: default;
  fill: white !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}

/* checkbox */

input[type="checkbox" i] {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
}

/* functionality */

.collapsed {
  visibility: hidden;
  height: 0;
}
