
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  background-color: black;
  overflow: hidden;
}

foreignObject {
  overflow: visible;
}

.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 1000;
}

#loader {
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
  top: 40%;
  position: relative;
}

#interface {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#left {
  width: 20%;
  height: 65%;
  min-width: 12px;
  min-height: 12px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: both;
  pointer-events: all;
  cursor: default;
  margin: 10px;
}

#bottom {
  width: calc(100% - 20px);
  height: 35%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
  margin : 0px 10px 10px 10px;
}

#legend {
  position: absolute;
  //height: 200px;
  background: transparent;
  width: 100px;
  bottom: 30%;
  left: 20%;
  margin-left: 24px;
  margin-bottom: 13px;
  //border: 1px solid white;
  //pointer-events: all;
  //overflow: scroll;
}

.legend-div {
  min-width : 100px;
  height: 100%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.legend-header {
  color: white;
  font-size: 10px;
  background: rgba(255,255,255,0.5);
  margin-bottom: 0px;
  border: 1px solid white;
  display: flex;
}

.legend-header-key {
  border: 2px solid white;
  margin: -1px;
  padding: 4px;
}

.legend-header-property {
  padding: 5px;
  margin-right: -1px;
}

.legend-content {
  background: rgba(0,0,0,0.5);
  height:  100%;
  padding-top: 4px;
  padding-left: 2px;
  padding-bottom: 4px;
  border: 1px solid white;
  border-top: none;
}

.legend-item {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.legend-color {
  height: 10px;
  width: 10px;
  opacity: 0.8;
}

.legend-value {
  font-size: 9px;
  color: white;
  padding-left: 5px;
}

.box {
  width: 100%;
  height: 100%;
  //position: absolute;
}

.box-label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
}

.box-content {
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.box-item {
  width: 50%;
  height: 100%;
}

.document {
  color: white;
}

.document-label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.document-label:hover {
  background-color: rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}

.document-content {
  font-size: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.document-item {
  padding: 5px;
  padding-top: 5px;
}

.document-item-header {
  display: flex;
}

.document-item-header:hover {
  background-color: rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}

.document-item-content {
  padding: 5px 0px 0px 5px;
}

.document-item-label {
  width: 500px;
  overflow: hidden;
  color: grey;
}

.document-item-label.selected {
  color: white;
}

/* slider */

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

.ui-widget-header {
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid white !important;
  border-radius: 0;
}

.ui-slider .ui-slider-handle {
  width: 3em;
  left: -.6em;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  background: #ededed;
}

.ui-slider-horizontal {
  background-color: transparent !important;
  width: 100%;
  border-bottom: 1px solid white;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 85%;
}

/* parcoords */

.box canvas, .box svg {
  pointer-events: none;
  position: absolute;
}

.box canvas.brushed.faded {
  opacity: 0.3;
}

/* .box canvas.foreground.faded {
  opacity: 0;
} */

.dimension text {
  //fill : white;
  font: 10px Arial;
  pointer-events: all;;
}

.dimension text.label {
  fill : grey;
}

.dimension rect {
  fill : rgba(0,0,0,0);
  //stroke : white;
}

.dimension g.brush.zoom {
  fill: rgba(255,255,255, 0.1);
  stroke: rgba(255,255,255, 0.2);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
}

.dimension rect.extent {
  fill : rgba(255,255,255, 0.5);
  stroke : white;
}

.dimension rect.extent.zoom {
  fill : rgba(155,155,155, 0.2);
  //cursor: zoom-in !important;
}

.dimension rect.extent:focus {
  outline: none;
}

.dimension path {
  stroke : white;
  fill: transparent;
}

.foreground {
  opacity : 0.2;
}

.label.selected {
  font-weight: bolder;
  fill: white !important;
}

.label:hover {
  font-weight: bold;
  cursor: default;
  fill: white !important;
}

.axis-div {
  height: 100%;
  width: 100%;
  top: 0;
}

.axis-text {
  border: 1px solid white;
  padding: 0;
  padding-left: 3px;
  background: dimgrey;
  color: white;
  font-size: 12px;
}

.axis-min, .axis-max {
  fill: lightgrey ;
}

.axis-max:hover, .axis-min:hover {
  fill : white;
  font-weight: bold !important;
}

.axis-text:focus {
  bborder: 1px solid white !important;
  outline: none !important;
}

/* legend */

path.domain {
  fill: none;
  stroke: white;
}

.tick > line {
  stroke : white;
}

.tick > text {
  fill : white;
  font: 10px Arial;
}

text {
  fill : white;
}

.y.axis > text {
  fill : white;
  font: 10px Arial;
}

.legend-label {
  fill : white;
  font: 10px Arial;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}

/* checkbox */

input[type="checkbox" i] {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
}

/* mapbox */

.popup-header {
  background: rgba(255,255,255,0.5);
  border: 1px solid white;
  min-width: 100px;
  padding-left: 5px;
  margin: -1px;
  cursor: move;
}

.popup-header:hover {
  background: rgba(255,255,255,0.8);
}

.popup-item {
  display: flex;
  flex-direction:
}

.popup-content {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.popup-prop {
  font-weight: bolder;
  padding: 0px 10px 0px 0px;
  min-width: 80px;
}

.popup-value {
  padding: 0px 0px 0px 10px;
  text-align: right;
  min-width: 20px;
}

.mapboxgl-popup-close-button {
  /* display: none; */
  color : white;
}

.mapboxgl-popup-content {
  /* font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px; */
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  border-radius: 0;
  font-size: 9px;
  padding: 0px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mapboxgl-popup-content:hover {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  /* margin-top: 15px; */
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  /* border-bottom-color: #91c949; */
}

.popup-indicator {
  transition-delay: 0.01s;
  transition-duration: 0.01s;
  position: absolute;
  pointer-events: none;
  margin: -1px;
}

.popup-pointer {
  width: 10px;
  height: 10px;
  position: absolute;
  background: white;
}


/* functionality */

.collapsed {
  display: none;
}
