
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  background-color: black;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

foreignObject {
  overflow: visible;
}

svg {
  overflow: visible;
}

img {

}

.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

#banner {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  //opacity: 0.3;
  pointer-events: none;
}

#ss {
  width: 100px;
  position: absolute;
  right: 70px;
  top: 63px;
}

#wb {
  width: 100px;
  position: absolute;
  right: 70px;
  top: 20px;
}

#ss img, #wb img {
  width: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  //background-color: rgba(255,255,255,0.7);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 2;
  pointer-events: none;
}

#loader {
  width: 30px;
  height: 30px;
  display: block;
  top: 25px;
  right: 180px;
  position: absolute;
}

#interface {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

#top {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-bottom: 0;
}

#left {
  display: flex;
  height: 100%;
  background-color: #fffffff5;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
  cursor: default;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#left-header {
  padding: 5px;
  background: black;
  font-size: 12px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: white;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#left-header:hover {
  background: grey;
}

#left-scroll-pane {
  /* min-width: 200px; */
}

.document {
  color: grey;
}

.document-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
}

.document-label {
  padding: 5px;
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}

.document-label:hover {
  /* color: black; */
}


.document-menu-item {
  margin-top: 5px;
  padding-right: 10px;
}

.document-menu-img {
  width: 15px;
  height: 15px;
  opacity: 0.2;
}

.document-menu-img.disabled {
  opacity: 0.05 !important;
}

.document-menu-img.selected {
  opacity: 1 !important;
}

.document-menu-img.disabled:hover {
  opacity: 0.05 !important;
}

.document-menu-img:hover {
  opacity: 1 !important;
}

.document-content {
  font-size: 10px;
  padding-left: 4px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.document-item {
  padding: 4px;
  padding-top: 4px;
  padding-right: 15px;
}

.document-item-header {
  display: flex;
}

.document-item-header:hover {

}

.document-item-content {
  padding: 5px 0px 0px 5px;
}

.document-item-label {
  color: grey;
}

.document-item-label:hover {
  color: black;
}

.document-item-label.selected {
  color: black;
  font-weight: bolder;
}

#bottom {
  background-color: #fffffff5;
  pointer-events: all;
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;

}

#bottom.expanded {
  height: calc(100% - 20px);
  overflow: hidden;
}

#bottom-header {
  padding: 5px;
  background: black;
  font-size: 12px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  color: white;
  z-index: 1;
}

#bottom-header:hover {
  background : grey;
}

#bottom-scroll-pane {
    height: calc(100% - 22px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.box {
  width: 100%;
  height: 100%;
}

.box-header {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  top: 0;
  position: sticky;
}

.box-label {
  padding: 5px;
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
  background: white;
  width: 100%;
}

.box-status {
  padding: 5px;
  padding-right: 15px;
  font-size: 12px;
  background: white;
  width: 100%;
}

.box-label:hover {
  /* color: black; */
}

.box-menu-item {
  margin-top: 5px;
  padding-right: 10px;
}

.box-menu-img {
  width: 15px;
  height: 15px;
  opacity: 0.2;
}

.box-menu-img.disabled {
  opacity: 0.05 !important;
}

.box-menu-img.selected {
  opacity: 1 !important;
}

.box-menu-img.disabled:hover {
  opacity: 0.05 !important;
}

.box-menu-img:hover {
  opacity: 1 !important;
}

.box-content {
  height: 200px;
  width: 100%;
  position: relative;
}

.box-content.expanded {
  height : calc(100% - 226px);
}

.box-item {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.box-overflow {
    overflow-y: scroll;
}

.box-block {
  height: 200px;
}

#legend {
  align-items: flex-end;
  display: flex;
  height: 100%;
  margin-left: 10px;
}

.legend-div {
  max-height: 100%;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.legend-header {
  color: grey;
  font-size: 10px;
  background: #fffffff5;
  margin-bottom: 0px;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.legend-header-key {
  padding: 8px;
  background: black;
  color: white;
  font-weight: bold;
}

.legend-header-key:hover {
  background: grey;
}

.legend-header-property {
  padding: 8px;
  margin-right: -1px;
  width: 100%;
  background: rgba(0,0,0,0.03);
}

.legend-content {
  background: #fffffff5;
  height: 100%;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border: 1px solid #eaeaea;
  border-top: none;
  display: flex;
}

.legend-hist {
  width: 200px;
  height: 200px;
}

.legend-item {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.legend-color {
  height: 10px;
  width: 10px;
  opacity: 0.8;
  margin-right: 1px;
}

.legend-value {
  font-size: 9px;
  color: black;
  padding-left: 5px;
}

/* slider */

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

.ui-widget-header {
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid white !important;
  border-radius: 0;
}

.ui-slider .ui-slider-handle {
  width: 3em;
  left: -.6em;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  background: #ededed;
}

.ui-slider-horizontal {
  background-color: transparent !important;
  width: 100%;
  border-bottom: 1px solid white;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 85%;
}

/* parcoords */

.box canvas, .box svg {
  //pointer-events: none;
  position: absolute;
}

.box canvas.brushed.faded {
  opacity: 0.3;
}

.dimension text {
  font: 10px Arial;
  pointer-events: all;;
}

.dimension text.label {
  fill : grey;
}

.dimension rect {
  fill : rgba(0,0,0,0);

}

.dimension g.brush.zoom {
  fill: rgba(0,0,0, 0.1);
  stroke: rgba(0,0,0, 0.2);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
}

.dimension rect.extent {
  fill : rgba(0, 0, 0, 0.05);
  stroke : grey;
}

.dimension rect.extent.zoom {
  fill : rgba(155,155,155, 0.2);
  //cursor: zoom-in !important;
  stroke : black;
}

.dimension rect.extent:focus {
  outline: none;
}

.dimension path {
  stroke : grey;
  fill: transparent;
}

.foreground {
  opacity : 0.2;
}

.label.selected {
  font-weight: bolder;
  fill: black !important;
}

.label:hover {
  font-weight: bold;
  cursor: default;
  fill: black !important;
}

.axis-div {
  height: 100%;
  width: 100%;
  top: 0;
}

.axis-text {
  border: 1px solid black;
  padding: 0;
  padding-left: 3px;
  background: white;
  color: black;
  font-size: 12px;
}

.axis-min, .axis-max {
  fill: grey ;
}

.axis-max:hover, .axis-min:hover {
  fill : black;
  font-weight: bold !important;
}

.axis-text:focus {
  bborder: 1px solid black !important;
  outline: none !important;
}

.axis-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}

.axis-menu-item {
  margin: auto;
}

.axis-menu-img {
  width: 15px;
  height: 15px;
  opacity: 0.2;
}

.axis-menu-img.disabled {
  opacity: 0.05 !important;
}

.axis-menu-img.selected {
  opacity: 1 !important;
}

.axis-menu-img.disabled:hover {
  opacity: 0.05 !important;
}

.axis-menu-img:hover {
  opacity: 1 !important;
}

/* Div Grid */

.row, .header, .cell {
  height: 12px;
 }

.row, .header {
  clear: left;
  display: flex;
 }

.header {
  font-weight: bold;
  font-size: 10px;
  position: sticky;
  top: 0;
  padding: 5px;
  padding-left: 8px;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 8px;
  margin-bottom: 8px;
}

.row:hover {
  background-color: #e2e2e261;
}

.cell.col {
  margin: 0;
}

.cell-label {
  width: 100%;
  text-align: center;
}

.cell-label.selected {
  color: black;
}

.cell-label:hover {
  color: black;
}

.cell {
  float: left;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

.cell-bar {
  height: 10px;
  width: 10px;
  background: lightgrey;
}

.cell-bar.selected {
  background: black;
  border: 2px solid black;
  height: 8px;
  opacity: 1 !important;
}

.cell-value {
    padding-left: 5px;
    position: absolute;
    top: 0;
    font-size: 9px;
    margin-top: 1px;
    color: #ffffffb5;
    mix-blend-mode: difference;
}


/* legend */

path.domain {
  fill: none;
  stroke: black;
}

.tick > line {
  stroke : grey;
}

.tick > text {
  fill : black;
  font: 10px Arial;
}

text {
  fill : black;
}

.y.axis > text {
  fill : black;
  font: 10px Arial;
}

.legend-label {
  fill : black;
  font: 10px Arial;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  border-left : 1px solid #eaeaea;;
  background: rgba(0,0,0,0.03);
  margin: -1px;
}

::-webkit-scrollbar-thumb {
  border : 1px solid #eaeaea;;
  background: rgba(255,255,255,0.8);
  border-right: 0px;
  border-left: 1px solid #f1f1f1
}

/* checkbox */

input[type="checkbox" i] {
  width: 10px;
  height: 10px;
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  border-radius: 0px;
  outline: none;
  box-shadow: 0;
  background-color: grey;
  border: 1px solid grey;
  -webkit-appearance:none;
}

input[type="checkbox" i]:checked {
  background-color: black;
  border:1px solid black;
}

input[type="checkbox" i]:hover {
  background-color: black;
  border:1px solid black;
}


/* mapbox */

.popup-header {
  //background: rgba(255,255,255,0.5);
  background: black;
  //border-bottom: 1px solid #eaeaea;
  min-width: 100px;
  padding-left: 5px;
  margin: -1px;
  cursor: move;
  color: white;
  font-weight: bold;;
}

.popup-header:hover {
  /* background: grey; */
}

.popup-item {
  display: flex;
  flex-direction:
}

.popup-content {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.popup-prop {
  font-weight: bolder;
  padding: 0px 10px 0px 0px;
  min-width: 80px;
}

.popup-value {
  padding: 0px 0px 0px 10px;
  text-align: right;
  min-width: 20px;
}

.mapboxgl-popup {
  z-index: 2;
}

.mapboxgl-popup-close-button {
  color: white;
}

.mapboxgl-popup-content {
  background-color: #fffffff5;
  border: 1px solid #eaeaea;
  color: black;
  border-radius: 0;
  font-size: 9px;
  padding: 0px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-tip {
  /* border-top-color: #000 !important;
  border-bottom-color: #000 !important; */
}

.popup-indicator {
  transition-delay: 0.01s;
  transition-duration: 0.01s;
  position: absolute;
  pointer-events: none;
  margin: -1px;
}

.popup-pointer {
  width: 10px;
  height: 10px;
  position: absolute;
  background: black;
}

/* mapbox general */

.mapboxgl-ctrl-group:not(:empty) {
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    //border: 1px solid #eaeaea;
}

.mapbox-custom-ctrl {
   width: 20px;
   height: 20px;
   padding: 5px;
}

.mapbox-custom-ctrl:hover {
  opacity: 1 !important;
}

.mapbox-custom-ctrl.inactive {
  opacity: 0.2;
}

/* color selection */

.color-box {
  position: absolute;
  z-index: 1000;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #f1f1f1;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.color-range-box {
  display: flex;
  flex-direction: row;
  width: 100px;
  border: 1px solid white;
}

.color-range-box:hover {
  border: 1px solid grey;
}

.color-range-block {
  height: 10px;
  width: 100%;
}

/* functionality */

.collapsed {
  display: none !important;
}
