body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default !important;
}

/*
    main
*/

#navigation-box {
    width: 100%;
    height: 20px;
}

#scene-box {
    margin-top: 5px;
    width: 60%;
    height: 97%;
    position: relative;
}

#scene-frame {
    width: 100%;
    height: 97%;
}

#scene-tags {
    height: 97%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

#scene-selector {
    height: 97%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 500;
}

#scene-controls {
    position: absolute; 
    left: 0px; 
    top: 21px;
    background-color: white;
    padding: 3px;
}

#evals-box {
    width: 39.5%;
    height: 90%;
    margin-top: 5px;
    //overflow-y: hidden;
}


#evals-collapsed {
    padding-top: 2px;
}

#evals-time {
    padding: 10px;
    margin-top: 25px;
}

#helper {
    width:100%;
    height:99%;
    position: absolute;
    pointer-events: none;
    z-index: 4;
}

/*
    other
*/

.frame {
    max-height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.comparisons-box {
    //height: 200px;
    background-color: white;
    //border: 1px solid #f2f2f2;
}

.summary-box {
    //background-color: white;
    padding-top: 15px;
}

.title-bar {
    height: 21px;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: relative;
}

.title {
    font-size: 12px;
    height: 15px;
}

.title-section {
    float:left;
    padding: 5px;
}

.title-inactive {
    background-color: rgba(0, 0, 0, 0.08);
}

.title-inactive:hover {
    background-color: white;
}

.slider-bar {
    height: 8%;
    margin-top: 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -5px;
    position: relative;
}

.slider-input {
    -webkit-appearance: none;
    width: 99%;
    height:1px;
    background-color: black;
    margin-top: 10px;
    position: absolute;
    pointer-events:none;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid black;
    background-color: black;
	width: 10px;
	height: 20px;
	cursor: pointer;
    pointer-events:all !important;
}

.settings {
    font-size: 8px;
    padding: 6px;
    color: white;
    background-color: black;
    z-index: 100;
}

.settings:hover {
    background-color: grey;
}

.settings-item {
    border-bottom: 1px solid #f2f2f2;
}

.settings-item:hover {
    background-color: grey;
}

.settings-sub-item:hover {
    background-color: grey;
}

.settings-box {
    background-color: black;
    position: fixed;
    min-height: 1px;
    width: 200px;
}

.checkbox-input {
    float: left;
    margin: 4px;
    appearance: none;
}

.checkbox-info {
    font-size: 10px;
    padding: 5px 10px 5px 0px;
    margin-left: 20px;
}

.text-input {
    float: left;
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.text-info {
    font-size: 10px;
    padding: 5px 10px 5px 0px;
    margin-left: 105px;
}

.tag {
    font-size: 8px;
    position: inherit;
    overflow: hidden;
    pointer-events: all;  
}

.tag:hover {
    z-index: 10;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.info {
    width: 200px;
    height: 300px;
    position: relative;
    top: 10px;
    z-index: 10;
}

.comparator-box {
    background-color: white;
    margin-left: 1px;
}
.comparator-box:hover {
    border-left: 1px solid black;
    margin-left: 0px;
}

.comparator-svg:hover {
    background-color: #f2f2f2;
}

.selection {
    stroke          : gray;
    stroke-width    : 1px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

.selecting {
    border: 1px solid black;
    pointer-events: all !important;
}

.state {
    stroke  : gray;
    fill    : white;
}

.controls {
    font-size: 8px;
    //font-weight: bold;
    padding: 2px;
}

.legend-box {
    padding: 4px;
    height: 20px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border:  1px solid black;
    float: left;
    margin-right: 5px;
}

.legend-input {
    float: left;
}


/*
    attributes
*/

.outlined {
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

.no-hover:hover {
    background-color: inherit !important;
}

.collapsed {
    display: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.color-default {
}




